<% provide(:title,"Entra" )%> <h1>Entra in colorme</h1>
<div id="form_application" class="row-fluid" >
	<div class="span12">
		<div class="row-fluid">
			<div class="span6" style="margin-top: 50px;">
				<%= form_for(:session, url: sessions_path) do |f| %>
				<div id="signup">
					<%= f.label :email %>
					<%= f.text_field :email, :onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()" %>

					<%= f.label :password %>
					<%= f.password_field :password,:onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()" %>
					<br />
					<%= f.submit "Entra in color me", class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			</div>
			<div class="span6">
				<div id="signin" class="uscitaInfo" style="display: none" ></div>
				<div class="span6" >
					<% flash.each do |key, value| %>
					<div id="Presentazione" class="alert alert-<%= key %>">
						<%= value %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
