<% provide(:title,'Aggiungi e rimuovi argomenti')%>
<h1>Aggiorna il tuo profilo! </h1><h1>Lo sai che puoi anche aggiungere o togliere cartelle?</h1>
<br />
<%= form_for (@own) do |f| %>
<div class="span12" style="align:center">
<div class="span4">
		<div id="folders">
		<h6>Le cartelle che puoi aggiungere al tuo profilo</h6>
		<table class="table table-striped">
			<tr>
				<td>Nome cartella</td>
				<td>Utente creatore</td>
				<td>Scelta</td>
			</tr>
			<%= Folder.find_each do |folder| %>
				<%a=0%>					
				<%= Own.find_each do |own| %>
														
					 	<%if own.user_id == current_user.id && folder.id == own.folder_id %>
					 		<% a=1%>				
						<%end%>
																							
				<%end%>
				<% if a==0%>
				<tr>
								<td><%= folder.namefolder%></td>
								<td><%= folder.user.name%></td>
								<td><%= check_box_tag 'rfolderadd[]',folder.id, checked=false, :onclick=>"quanti1(this)"%></td>
							</tr>				
				<%end%>
			<%end%>
		</table>
		<%= label_tag :valore1, "numero di cartelle scelte:"%>
					<%= text_field_tag :valore1, "0", :readonly=> :readonly %>
					<p id="testoErrore"></p>
	</div>
	</div>	
	<div class="span4">
		<div id="folders">
		<h6>Le cartelle che puoi eliminare dal tuo profilo</h6>
		<table class="table table-striped">
			<tr>
				<td>Nome cartella</td>
				<td>Utente creatore</td>
				<td>Scelta</td>
			</tr>
			<%= Own.find_each do |own| %>			
						<%= Folder.find_each do |folder| %>
							<% if own.user_id == current_user.id && folder.id==own.folder_id %>
								<tr>
									<td><%= folder.namefolder%></td>
									<td><%= folder.user.name%></td>
									<td><%= check_box_tag 'rfolderdel[]',folder.id, checked=false, :onclick=>"quanti2(this)"%></td>
								</tr>		
							<%end%>
						<%end%>				
		    <%end%>
		</table>
		<%= label_tag :valore2, "numero di cartelle scelte:"%>
						<%= text_field_tag :valore2, "0", :readonly=> :readonly %>
						<p id="testoErrore"></p>
		</div>
	</div>
	
	

</div>
<div class="row-fluid">
	
</div>

<div style="margin-bottom:35px; margin-top:50px;">	
    	<h1><%= f.submit "Registra i tuoi cambiamenti!", class: "btn btn-large btn-primary", :onclick=>"messaggio()"%></h1>   
</div>		
<%end%>
