<h1>Passo #2</h1>
<h2>Scegli le tue cartelle! Tutte quelle che vorresti seguire!</h2>
	<%=form_for (@own) do |f| %>	
	
	<table class="table table-striped">
	
		    <tr>
		    	<td>Nome cartella</td>
		    	<td>Utente creatore</td>
		    	<td>Scelta</td>
		    </tr>
				<%= Folder.find_each do |folder|%>
			<tr>
				<td><%= folder.namefolder%></td>
				<td><%= folder.nameusercreator%></td>
				<td><%= check_box_tag 'rfolder[]',folder.id%></td>
				
			</tr> 
			
			<%end%>
			</table>
			<%= f.submit "Valutati", class: "btn btn-large btn-primary"%> 
			<%end%>
