<div style="border: 1px double purple; margin-bottom: 10px; box-shadow: 3px 3px 5px black; padding-left: 20px;"   id="spacecomments">	    
	<p><b>Commento inserito <%= time_ago_in_words(comment.created_at) %> ago</b></p> 
    <p><%=comment.user.name%> ha scritto</p>
	<p><%=comment.text%></p>	
</div>

