<div id="formMessaggi" style="margin-top: 20px; " >
<%=form_for (@comment), :url=>{:controller => "comments", :action => "create"}, :remote=>true do %>  
     <%= label_tag(:text, "Non hai capito? Hai dei dubbi? Dillo ai tuoi compagni!") %>
      
      <div class="row-fluid">
      	<div class="span6">
      	
      	<%= hidden_field_tag :video_id, params[:video_id]%>
      	<%= text_area_tag(:text, nil, :size => "40x4") %>
     	</div>
      
      <div class="span6">
      	<%= submit_tag("Invia", :class=>"btn btn-success", :style=>"margin-left: 20px;") %> 
      </div>
     </div>
      
     
      
     	
           
<% end %>

</div>
