<div class="row-fluid" >
	<%= render 'layouts/sottoheader'%>
</div>
<div class="row-fluid" style="margin-top: 30px;">
	<div class="span3">

  		
  		<%= link_to "Torna ai video", videosfolder_path(:folder_id=>@b), class:'btn'%>  			
  		
<div class="dynamic"><%= render partial: 'layouts/utenticartella' %></div>

	</div>
	<div class="span1">
		<p></p>
	</div>
	<div class="span4">
		<div class="row-fluid">
			<%= Video.find_each do |video|%>
				<% if video.id == params[:video_id].to_i %>
					<h3 style="text-align: center">Argomento: <%= video.folder.namefolder %></h3>
					<h3 style="text-align: center">
						Titolo: <%= video.title %>
					</h3>
					<h3 style="text-align: center">
						Difficoltà di questo video: <%= video.valuevideo %>
					</h3>
					
				<%end%>
			<%end%>
			
			
		</div>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/<%= params[:url]%>" frameborder="0" allowfullscreen></iframe>
		<div class="row-fluid">
			<%= render 'watches/overlayvoto'%>
		</div>
		<%= render 'comments/message_form'%>
	</div>
	<div class="span4">
		<h6>I commenti degli altri utenti</h6>
		<div id="comments" style=" width: 400px; height: 600px; overflow: auto; ">

		<%= render :partial => @comments  %> 
	</div>
	
</div>
</div> 