<% provide(:title,'Nuova cartella')%>
<h1 style="margin-bottom: 20px">Create Your Folder</h1>
<%= form_for @folder do |f| %>
		<div id="signup">
		<div class="field">
			<%= f.label :namefolder ,"Nome della Cartella"%>
			<%= f.text_field :namefolder %>
	    </div>
	    <div class="actions">
	    	<%= f.submit "Inserisci la Cartella!", class: "btn btn-large btn-primary"  %>
	    </div>
	    
	    </div>	
<%end%>

