<div id="elenco_utenti" style="margin-left:150px">
	<% if params[:folder_id]=="0"%>
		<h1 style="color: #63343a;">Clicca su una cartella per vedere gli altri amici iscritti</h1>
		
<%end%>

<%= Folder.find_each do |folder|%>
		<% if params[:folder_id].to_i==folder.id%>
			<h1>Utenti della cartella <%=folder.namefolder %> </h1>
			<br/>
			<%= Own.find_each do |own|%>			
				<% if own.folder_id == folder.id%>				
					<h6 style="display:none"><%=@user=own.user%></h6>
					<h6><%= gravatar_for @user, :default=>'identicon' %> </h6> 					
  					<h6><%= link_to own.user.name, user_path(own.user) %></h6>  					
  					<br/>
  					<%= own.user.email%>
  					<br/><br/>
  					<hr>
  									
				<%end%>
			<%end%>			
		<%end%>	
<%end%>

</div>
