<li>
  <%= gravatar_for own.user, size: 52, :default=>'identicon' %>
  <%= link_to own.user.name, user %>
  <% if current_user.admin? && !current_user?(own.user) %>
    |---| <%= link_to "delete", user, method: :delete, confirm: "Sei sicuro di volerlo ammazzare!?!", class:"btn btn-small btn-primary"%>
  <% end %>
</li>