<% provide(:title,'Edit user')%> <h1 style="margin-bottom: 20px;">Aggiorna il tuo profilo! </h1>
<div class="row-fluid">


	
		<div class="span6">
			<%= form_for @user, :validate=> true do |f| %>
			<div id="signup">
				<div class="field">
					<%= f.label :name ,"Il tuo nome"%>
					<%= f.text_field :name, :onfocus=>"mostraSuggerimento(this.id)" , :onblur=>"dropout()"%>
				</div>
				<div class="field">
					<%= f.label :email, "Il tuo indirizzo email" %>
					<%= f.text_field :email, :onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()" %>
				</div>
				
				
				<div class="field">
					<div onmouseenter="mostraSuggerimento(this.id)" id="gravatar" onmouseleave="dropout()" style="margin-bottom: 20px;">
					<span><%= gravatar_for @user, :default=>'identicon' %> </span>
					<span><a href="http://gravatar.com/emails">Personalizza
						<br/>
						la tua immagine
						<br/>
						su gravatar.com</a></span>
					<br/>
					<br/>
					<br/>
					<span><a href="http://it.gravatar.com/">Cos'è gravatar?</a></span>
					</div>
				</div>
				<div class="row-fluid" style="margin-bottom:35px">
				<h1><%= f.submit "Registra i tuoi cambiamenti!", class: "btn btn-large btn-primary"%></h1>
			</div>
			</div>
			
			<%end%>
		</div>
		<div class="span6">
				<div id="signin" class="uscitaInfo" style="display: none" ></div>
				<div class="span6" >
					<% flash.each do |key, value| %>
					<div id="Presentazione" class="alert alert-<%= key %>">
						<%= value %>
						<% end %>
					</div>
				</div>
			</div>
	</div>
