<%= provide(:title, 'All users') %>
<div class="row-fluid">
  	<div class="span3">
     	<%= render 'layouts/elencocartelle'%>
	</div>
	<div class="span8">
		<div id="elenco">
			<%= render 'users/elenco_utenti'%>
		</div>	
  	</div>
</div>
