<% provide(:title,"New" )%>
<h1>Entra in colorme</h1>
<div id="form_application" class="row-fluid">
	
	<div class="span12"> 
		<div class="row-fluid">
			<div class="span6" style="margin-top: 40px;">
				<%= form_for @user , :validate => true do |f| %>
				<div id="signup" >
					<div class="field">
						<%= f.label :name ,"Il tuo nome"%>
						<%= f.text_field :name,  :onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()" %>
					</div>
					<div class="field">
						<%= f.label :email, "La tua mail" %>
						<%= f.text_field :email,  :onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()" %>
					</div>
					<div class="field">
						<%= f.label :password, "Password"%>
						<%= f.password_field :password,  :onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()"%>
					</div>
					<div class="field">
						<%= f.label :password_confirmation,"Conferma password" %>
						<%= f.password_field :password_confirmation,  :onfocus=>"mostraSuggerimento(this.id)", :onblur=>"dropout()"	 %>
					</div>
					<%= label_tag "Scegli quali argomenti vuoi imparare su colorme cliccando sul tasto a destra del nome"%>
					<table class="table table-striped" id="tabella"  onmouseenter="mostraSuggerimento(this.id)" onmouseleave="dropout()" >
						<tr>
							<td >Argomento</td>
							<td>Utente creatore</td>
							<td>Scelta</td>
						</tr>
						<%= Folder.find_each do |folder|%>
						<tr>
							<td><%= folder.namefolder%></td>
							<td><%= folder.user.name%></td>
							<td><%= check_box_tag 'rfolder[]',folder.id, checked=false, :onclick=>"quanti(this)"%> </td>
						</tr>
						<%end%>
					</table>
					<%= label_tag :valore, "numero di cartelle scelte:"%>
					<%= text_field_tag :valore, "0", :readonly=> :readonly %>
					<p id="testoErrore"></p>
					<div class="actions">
						<%= f.submit "Entra in colorme!", class: "btn btn-large btn-primary", :id=>"eccomi"  %>
					</div>
				</div>
			</div>
			
			<div  class="span6">
				
				 <div id="signin" class="uscitaInfo" style="display: none" >
					
					<% flash.each do |key, value| %>
					<div id="Presentazione" class="alert alert-<%= key %>">
						<%= value %> 
						<% end %>
					</div>
					<%= render "shared/error_messages", object: f.object %>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
</div> 