<% provide(:title,@user.name)%>

<%= gravatar_for @user, :default=>'identicon' %> <h1 style="text-align:left"><%= @user.name%></h1>
<h1 style="text-align:left">email: <%= @user.email%></h1>
<br/>

<hr class="hrstyle" style="width:85%; margin:auto"/>

<h1 style="margin-bottom: 20px;">Riassunto della mia situazione in colorme</h1>
<div class="row-fluid">
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th><h3>Argomento</h3></th>
				<th><h3>Punteggio</h3></th>
				<th><h3>Livello</h3></th>
			</tr>
		</thead>
		<%= Own.find_each do |own|%>
		<% if @user.id==own.user_id%>
		<tr>
			<td> <h2 style="text-align: left; color: #63343a;"><%= own.folder.namefolder%></h1> </td>
			<td> <h2 style="text-align: left; " ><%= own.scorefolder%> pts</h2> </td>
			<td > <% if own.state == 1 %>
			<%= image_tag("logo_computer_red.png", :size => "60x60") %>
			<%end%>
			<% if own.state == 2 %>
			<%= image_tag("logo_computer_giallo.png", :size => "60x60") %>
			<%end%>
			<% if own.state == 3 %>
			<%= image_tag("logo_computer_verde.png", :size => "60x60") %>
			<%end%> </td>
		</tr>
		<%end%>
		<%end%>
	</table>
</div>
