<% provide(:title,'New Video')%> <h1 style="margin-bottom: 20px">Create Your Video</h1>
<% flash.each do |key, value| %>
<div id="Presentazione" class="alert alert-<%= key %>">
	<%= value %>
	<% end %>
</div>
<div class="row">
	
	<div class="span4">
		<p></p>
	</div>
	<div class="span6">
		<%= form_for @video do |f| %>
		<div class="field">
			<%= select_tag :folder_name, options_for_select(@nameoffolders) %>
		</div>
		<div class="field">
			<%= f.label :title, "Titolo del Video"%>
			<%= f.text_field :title %>
		</div>
		<div class="field">
			<%= f.label :description, "Inserisci una breve descrizione"%>
			<%= f.text_area :description, :size=>"20x8" %>
		</div>
		<div class="field">
			<%= f.label :url, "id del video (SOLO L'ID!!!)"%>
			<%= f.text_field :url %>
		</div>
		<div class="field">
			<%= f.label :valuevideo, "Dai un livello di difficoltà al tuo video!"%>

			<%= f.radio_button :valuevideo, "1"%>Uno
			<%= f.radio_button :valuevideo, "2"%>Due
			<%= f.radio_button :valuevideo, "3"%>Tre
			<%= f.radio_button :valuevideo, "4"%>Quattro
			<%= f.radio_button :valuevideo, "5"%>Cinque
			<%= f.radio_button :valuevideo, "6"%>Sei
			<%= f.radio_button :valuevideo, "7"%>Sette
			<%= f.radio_button :valuevideo, "8"%>Otto
			<%= f.radio_button :valuevideo, "9"%>Nove
			<%= f.radio_button :valuevideo, "10"%>Dieci
		</div>
		<br/>
		</br/>
		<div class="actions">
			<%= f.submit "Inserisci il Video!", class: "btn btn-large btn-primary"  %>
		</div>
	</div>
	<%end%>

</div>
