<div class="row-fluid">
		<%=render 'layouts/sottoheader'%>
</div>
 <div class="row-fluid">
  	<div class="span3">
     	<%= render 'layouts/utenticartella'%>
	</div>
	<div class="span8">
		<%= render 'layouts/contenutoVideo'%>	
  	</div>
</div>
