<% if object.errors.any?%> <!-- se è presente qualsiasi errore-->
	<div id="error_explanation">
    <div class="alert alert-error"> <!--stile di bootstrap per l'alert error-->
      The form contains <%= pluralize(object.errors.count, "error") %>. <!--pluralizza la scritta errori-->
    </div>
    <h6>Ci sono dei problemi per i seguenti <%=object.errors.count%> campi</h6>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>