<div class="row-fluid">
	<div class="span4">
		<%= image_tag("logo_computer_red.png", :id=>"rosso", :onclick=>"enter(this.id)", :class=>"click")%>
		<p class="didascalia" align="center">
			Rosso
		</p>
	</div>
	<div class="span4">
		<%= image_tag("logo_computer_giallo.png", :id=>"giallo", :onclick=>"enter(this.id)", :class=>"click") %>
		<p class="didascalia" align="center">
			Giallo
		</p>
	</div>
	<div class="span4">
		<%= image_tag("logo_computer_verde.png", :id=>"verde", :onclick=>"enter(this.id)", :class=>"click") %>
		<p class="didascalia" align="center">
			Verde
		</p>
	</div>
</div>