<% provide(:title, 'Chi Siamo') %>
<div class="center hero-unit">
	<h1>Sviluppatori sito web</h1>
	</br>
	<h4>Sviluppo logica lato server</h4>
	<p>Giacomo Delfini dgiac85@gmail.com</p>
	<h4>Sviluppo logica lato client</h4>
	<p>Fierro Silvia s190718@studenti.polito.it</p>
</div>