<% provide(:title, 'Contattaci') %>

<div class="center hero-unit">
	<h1>Contatta gli sviluppatori del sito web</h1>
	<p>Fierro Silvia s190718@studenti.polito.it</p>
	<p>Giacomo Delfini dgiac85@gmail.com</p>
</div>
 
