<% provide(:title, 'Home') %> 
<% if signed_in?%>
		<div class="row-fluid">
			<%=render 'layouts/sottoheader'%>			
		</div>
	     <div class="row-fluid" style="margin-top: 30px;">
	      	<div class="span3">
	         	<%= render 'layouts/elencocartelle'%>
	    	</div>
	    	<div class="span8">
	    		<%= render 'layouts/contenutoHome'%>	
	      	</div>
	      </div>
	
<% else%>	
	<div class="center" style=" margin:25px;padding-top: 0px; padding-bottom: 0px;">
	<h1>Benvenuto in colorme!</h1>
	<h2>Dai un colore alle tue conoscenze informatiche!</h2>
	</br>
	<div class="row-fluid">
		<div class="span12" style="margin:auto">
			<div class="row-fluid">				
					<%= image_tag "logo_computer.png" , :size=>"461x346" %>							
			</div>
			<div class="row">		
				<%= link_to "Sono già iscritto e posso vedere i video tutorial", signin_path , class: "styled-button-11" %>
				<%= link_to "Sono nuovo e voglio iscirvermi a colorme", signup_path , class: "styled-button-11" %>
			</div>	
			</div>
		</div>
	</div>
<% end%>
