<% provide(:title, 'i video') %>
<div class="row-fluid">
		<%=render 'layouts/sottoheader'%>
</div>
 <div class="row-fluid">
  	<div class="span3">
  		<a href="<%=root_path%>" class="btn" style="color: black;">Torna alle tue cartelle</a>
     	<%= render 'layouts/utenticartella'%>
	</div>
	<div class="span8">
		<%= render 'layouts/contenutoVideo'%>	
  	</div>
</div>