<% if !current_user.admin?%>
<% if @userownfolder.scorefolder < 100 %>
<%= button_tag "Premi questo bottone per autovalutarti e guadagnare punti!", :onclick=>"showOver()", class: "prova"%>
<%end%>
<%end%>
<div class="modal hide" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			×
		</button>
		<h2>Autovalutati!!</h2>
	</div>
	<div class="modal-body"  >
		<h2 style="color: purple;" >Rispetto a questo video mi sento:</h2>
		<div style="margin-left: 90px;">
			<%= link_to image_tag("logo_computer_red.png", :size => "200x200" ), {:controller=>"watches", :action=>"pippo", :id=>"1", :video_id=>params[:video_id]} , :id=>"1", :onmouseenter=>"punteggio(this.id)", :onmouseleave=>"dropout2()" %>
			<%= link_to image_tag("logo_computer_giallo.png", :size => "200x200" ), {:controller=>"watches", :action=>"pippo", :id=>"2", :video_id=>params[:video_id]}, :id=>"2",:onmouseenter=>"punteggio(this.id)", :onmouseleave=>"dropout2()"  %>
			<%= link_to image_tag("logo_computer_verde.png", :size => "200x200" ), {:controller=>"watches", :action=>"pippo", :id=>"3", :video_id=>params[:video_id]} ,:id=>"3", :onmouseenter=>"punteggio(this.id)", :onmouseleave=>"dropout2()" %>
		</div>
	</div>
	<div class="row-fluid" id="spiegazionePunteggio" style="display: none">
		<%= Video.find_each do |video|%>
		<% if video.id == params[:video_id].to_i %> <span style="display: none" id="value"><%= video.valuevideo%></span>
		<h5 align="center">Cliccando sul <span id="colore"></span> vuol dire che <span id="capire"></span></h5>
		<h2>In questo modo guadagnerai: <span id="totale"></span> punti! </h2>
		<h2>Clicca sul tuo colore!</h2>
		<%end%>
		<%end%>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Chiudi</a>
	</div>
</div>
