/* Sassy CSS taken from Rails Tutorial book, second edition, chapter 5 */

/* mixins, variables, etc. */




.prova{
  width: 420px;
}



.emozioni{
  display: none;
}

#loading {
  font:bold 12px Verdana;
  color:red;
}

.field_with_errors {  
  display: inline;  
}  
  
.field_with_errors .message {  
  color: #D00;  
  padding-left: 5px;  
  font-size: 12px;  
} 


.didascalia{
  color: grey;
  font-size: 20px;
}


$darkblue: #000000;
$white: #ffffff;
$black: #000000;
$lightpurple:#954e57;
$darkpurple: #311a1d;
$purple: #63343a;

$darkestblue: #257085;

$grayMediumLight: #eaeaea;

@import "bootstrap";



/* universal */

html {
  overflow-y: scroll;
}


body {
  padding-top: 60px;
  
  
}

.navbar {
  .navbar-inner {
    margin-top:50px;
    background-color: $purple;
    background-image: -webkit-linear-gradient(top, $lightpurple 42%, $darkpurple 100%);
    background-image: -moz-linear-gradient(top, $lightpurple 42%, $darkpurple 100%); 
  }
  
  
  div > ul a, .nav a {
   font-size: 14px;
   font-weight: bold;
   }
  

  div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
    background-color: $darkblue;
    li {
      a {
        background: $darkblue !important;
        color: white;
        &:hover {
          background-color: $darkblue;
        }
      }
    }
  }
}

section {
  overflow: auto;
}

.top{
  position:fixed;padding:0; margin-left:0; margin-right:0;margin-top:-60px;height:50px; background-color: #fcedd6; width:100%
}

#infosite{
  float:left;padding-left:10px

}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: red;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
 
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* footer */
.hrstyle{
  margin-bottom:10px; height:5px; background-color: #63343a;
  background-image: -webkit-linear-gradient(top, $lightpurple 42%, $darkpurple 100%);
  background-image: -moz-linear-gradient(top, $lightpurple 42%, $darkpurple 100%);   
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayLight;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
