.immagine_home{
  width: 900px; 
  height: 600px;
  
 background: url(home_2.png)  no-repeat center center ;
  -moz-background-size: cover;
        -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

div.testo_content p{
 font-size: 20px;
}

.style_image {
  box-shadow: 5px 5px 10px #000;
}







/*stile bottoni in landing page*/

$purple: #63343a;
$lightpurple:#d4aeb3;
.styled-button-11:hover{
  background:-moz-linear-gradient(top, $purple 0%,$lightpurple 100%);
  color: #FFFFFF;
}

.styled-button-11 {
  background: $purple;
  background:-moz-linear-gradient(bottom, $purple 0%,$lightpurple 100%);
  //background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
  //background:-webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  //background:-o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  //background:-ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  //background:linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEDA71',endColorstr='#FEBB49',GradientType=0);
  padding:8px 18px;
  color:#FFFFFF;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  border-radius:48px;
  -moz-border-radius:48px;
  -webkit-border-radius:48px;
  border:1px solid #623F1D
}