// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Sassy CSS taken from Rails Tutorial book, second edition, chapter 5 */
.immagineProva{
  display: none;
}


.click{
  cursor: pointer;
}
$purple: #63343a;
$lightpurple:#954e57;
$white: #ffffff;
$black: #000000;
$lightblue:#cde6f9;
$darkblue: #339bb9;
$darkestblue: #257085;

$grayMediumLight: #eaeaea;

@import "bootstrap";

.testo_spiegazione{
  color: $lightpurple;
}
body .modal {
    
    width: 800px;
    
    margin: -345px 0 0 -375px;
}


#signin{
  height:auto;
  margin-left:80px;
  margin-top:30px;
  padding:20px;
  border:2px dotted lightgray;
  border-radius:25px;
  width:60%;
  height: 200px;
}
#signup{
  height:auto;
  margin-left:200px;
  padding:20px;
  border:2px dotted lightgray;
  border-radius:25px;
  width:55%;
}

#folders{
  height:auto;
  padding:20px;
  border:2px dotted lightgray;
  border-radius:25px;
  width:75%;
}

.nomi{
  display:inline;
  margin:15px;
  text-align:left;
  font-size:2em;
}



/* forms */

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }