<div class="testo_content">
	<div class="row" id="uno" style="display: none">
		<div class="span1"><img width="40" height="40" src="http://upload.wikimedia.org/wikipedia/commons/8/8e/1leftarrow.png">
		</div>
		<div class="span1">
			<p>
				1
			</p>
		</div>
		<div class="span6" >
			<div onmouseenter="fammivedere('uno')" onmouseleave="fammivedere('uno')" style="cursor: pointer" >
				<p>
					Clicca sul colore che più ti rappresenta per ogni argomento
				</p>
			</div>
		</div>
<!-- 		<div class="span1" onmouseenter="fammivedere('uno')" style="cursor: pointer"><i>Cosa vuol dire?</i></div> -->
	</div>

	<div class="row" id="unoN" style="display: none; " >
		<div class="span2">
			<p></p>
		</div>
		<div class="span2">
			<%= button_tag "",  :class=>"btn btn-danger"%><h5>Sei un utente poco esperto.</h5>
		</div>
		<div class="span2">
			<%= button_tag "",  :class=>"btn btn-warning"%><h5>Sei un utente informato, ma poco sicuro.</h5>
		</div>
		<div class="span2">
			<%= button_tag "",  :class=>"btn btn-success"%><h5>Sei un utente esperto, vuoi condividere quello che sai.</h5>
		</div>
	</div>
	
	</br>
	<div class="row" id="due" style="display: none">
		<div class="span1"><img width="40" height="40" src="http://upload.wikimedia.org/wikipedia/commons/8/8e/1leftarrow.png">
		</div>
		<div class="span1">
			<p>
				2
			</p>
		</div>
		<div class="span6" >
			<div onmouseenter="fammivedere('due')" onmouseleave="fammivedere('due')" style="cursor: pointer" >
				<p>
					Clicca sul nome della cartella per iniziare
				</p>
			</div>
			
		</div>
<!-- 		<div class="span1" onclick="fammivedere('due')" style="cursor: pointer"><i>Cosa vuol dire?</i></div> -->
	</div>
	<div class="row" id="dueN" style="display: none">
		<div class="span2">
			<p></p>
		</div>
		<div class="span6">
			<%= image_tag 'imm_click.png', :class => "style_image"%>
		</div>
		
	</div>
	</br>
	<div class="row" id="tre" style="display: none">

		<div class="span1"><img width="40" height="40" src="http://upload.wikimedia.org/wikipedia/commons/8/8e/1leftarrow.png">
		</div>
		<div class="span1">
			<p>
				3
			</p>
		</div>
		<div class="span6">
			<div onmouseenter="fammivedere('tre')" onmouseleave="fammivedere('tre')" style="cursor: pointer" >
				<p>
					Guarda il video tutorial, confronta i pareri con gli amici
				</p>
			</div>
		</div>
<!-- 		<div class="span1" ><i>Cosa vuol dire?</i></div> -->
	</div>
	<div class="row" id="treN" style="display: none">
		<div class="span2"><p></p></div>
		<div class="span6">
			<%= image_tag 'imm_comments.png', :class => "style_image"%>
		</div>
	</div>
	
	</br>
	<div class="row" id="quattro" style="display: none">
		<div class="span1"><img width="40" height="40" src="http://upload.wikimedia.org/wikipedia/commons/8/8e/1leftarrow.png">
		</div>
		<div class="span1">
			<p>
				4
			</p>
		</div>
		<div class="span6">
			<div onmouseenter="fammivedere('quattro')" onmouseleave="fammivedere('quattro')" style="cursor: pointer" >
				<p>
					Autovaluta la tua conoscenza e aumenta di livello!
				</p>
			</div>
		</div>
		
	</div>
	<div class="row" id="quattroN" style="display: none">
		<div class="span2">
			<p></p>
		</div>
		<div class="span2">
			<%= image_tag("logo_computer_red.png", :size => "60x60" )%><h5>Non ho ancora capito l argomento. <strong>Guadagni un punto per la difficoltà video</strong></h5>
		</div>
		<div class="span2">
			<%= image_tag("logo_computer_giallo.png", :size => "60x60" )%><h5>Sono insicuro, voglio rivedere delle cose. <strong>Guadagni due punti per la difficoltà video </strong></h5>
		</div>
		<div class="span2">
			<%= image_tag("logo_computer_verde.png", :size => "60x60" )%><h5>Tutto chiarissimo! <strong>Guadagni tre punti per la difficoltà video </strong></h5>
		</div>
	</div>
	</br>
</div>
