<div>
	<% if Video.count == 0%>
		<h1>Ooops...non ci sono ancora video per questo argomento...<br/>...magari ripassa in un secondo momento!</h1>
	<%else%>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th><h6>Titolo</h6></th>
				<th><h6>Autore</h6></th>
				<th><h6>Descrizione</h6></th>
				<th><h6>Grado di difficoltà</h6></th>
				<th><h6>Vai al video!</h6></th>
			</tr>
		</thead>
		<%= Video.find_each do |video|%>
		<%if video.folder.id == @b.to_i %>
		<tr>
			<td>
				<h4><%= video.title %></h4>
			</td>
			<td>
			
				<%= video.user.name %>
			</td>
			<td >
			
				<%= video.description %>
			</td>
			<td>
				
				<p id="tl" rel="tooltip" title="Più segui un corso difficile più aumenti di punteggio!" style="cursor: pointer"><%= video.valuevideo%></p>
			</td>
			<td> <%= link_to "Vai al video", comments_path(:url=>video.url, :video_id=>video.id, :folder_id=>video.folder_id), class:"btn"   %> </td>
			</h6>
		</tr>
		<%end%>
	<%end%>
	</table>
<%end%>	
</div>
