<% if !current_user.admin?%>
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<% if current_page?(users_path)%>

		<li class="nav-header">
			Clicca sui nomi degli argomenti e vedi gli utenti che vi partecipano!
		</li>
		<li >
			<%= Folder.find_each do |folder|%>
			<h3><%= link_to folder.namefolder, utenti_path(:folder_id=>folder.id), :method=> :post, :remote=> true %></h3>
			<%end%>
		</li>
	</ul>
</div>
<%else%>
<li class="nav-header">
	Gli argomenti che hai scelto di seguire!
</li>
<li>
	<%= link_to "Aggiungo o Rimuovo argomenti", edit_own_path(current_user), class:"btn"%>
</li>
<%= Own.find_each do |own|%>
<%if own.user_id==current_user.id %>
<li style=" box-shadow: 10px 10px 5px #888; margin-top: 20px;  border-radius:10px;">

	<% if own.state==0%>
	<h3 id="<%= own.folder.id%>" name="<%= own.folder.id%>" ><%= own.folder.namefolder%></h3>

	<h3><%= link_to  own.folder.namefolder, videosfolder_path(:folder_id=> own.folder.id), :name=>own.folder.id, :hidden=> true %></h3>
	<div id="<%= own.folder.id%>">

		<%= link_to "ROSSO", state_path(:id=>"1", :folder_id=> own.folder.id),  :id=> own.folder.id, :name=>"rosso",   :onclick=>"nascondi(this.id, this.name)",  :method=> :post,   :remote=> true , :class=> "btn btn-danger",:rel=>"popover", :data=>{:content => 'Non sei esperto in questo argomento. Vuoi imparare!', :title=>"Utente rosso"} %>
		<%= link_to "GIALLO", state_path(:id=>"2", :folder_id=> own.folder.id), :id=> own.folder.id, :name=>"giallo", :onclick=>"nascondi(this.id, this.name)", :method=> :post,   :remote=> true, :class=> "btn btn-warning"  , :rel=>"popover",:data=>{:content => 'Sai l\'argomento in maniera sommaria. Vuoi impararlo meglio!', :title=>"Utente giallo"} %>
		<%= link_to "VERDE", state_path(:id=>"3", :folder_id=> own.folder.id),:id=> own.folder.id, :name=>"verde", :onclick=>"nascondi(this.id, this.name)", :method=> :post,   :remote=> true , :class=> "btn btn-success" , :rel=>"popover",:data=>{:content => 'Sei molto esperto! Vuoi dare consigli altri altri utenti.', :title=>"Utente Verde"} %>
	</div>
	<%end%>

	<% if own.state==1 %>
	<h3><%= link_to own.folder.namefolder, videosfolder_path(:folder_id=> own.folder.id)%></h3>
	<%= image_tag("logo_computer_red.png", :size => "60x60" )%>

	<%end%>

	<% if own.state==2 %>
	<h3 ><%= link_to own.folder.namefolder, videosfolder_path(:folder_id=> own.folder.id)%></h3>
	<%= image_tag("logo_computer_giallo.png", :size => "60x60")%>
	<%end%>

	<% if own.state==3 %>
	<h3><%= link_to own.folder.namefolder, videosfolder_path(:folder_id=> own.folder.id) %></h3>
	<%= image_tag("logo_computer_verde.png", :size => "60x60")%>
	<%end%>

	<%end%>

</li>
<%end%>
</ul>
</div>
<%end%>

<%else%>

<div class="well sidebar-nav">
	<ul class="nav nav-list">

		<% if current_page?(users_path)%>

		<!-- <li class="nav-header">
		Clicca sui nomi degli argomenti e vedi gli utenti che vi partecipano!
		</li> -->
		<li>
			<%= Folder.find_each do |folder|%>
			<h3><%= link_to folder.namefolder, utenti_path(:folder_id=>folder.id), :method=> :post, :remote=> true %></h3>
			<%end%>
		</li>
	</ul>
</div>
<%else%>
<li class="nav-header">
	Le cartelle presenti su colorme
</li>
<%= Folder.find_each do |folder|%>
<h3><%= link_to folder.namefolder, videosfolder_path(:folder_id=> folder.id), :name=>folder.id %></h3>

<%end%>
</ul>
</div>
<%end%>

<%end%>

