<hr class="hrstyle" style="margin-bottom:10px; height:5px; background-color: #63343a" />
<div class="row-fluid" style="background-color: #fcedd6;margin-top:10px;">
  	<div class="span6">
  	  <h6>
	<%= link_to (image_tag "bitbucket.jpg",  :size => "15x15"),  "https://bitbucket.org/Tofi/colorme_site" %>
		<a href="https://bitbucket.org/Tofi/colorme_site">Colorme 2012 | Ingegneria del Cinema e dei Mezzi di Comunicazione | Politecnico di Torino </a> 
	  </h6>	
	</div>
	<div dlass="span 6" style="float:right">
		<%= link_to (image_tag "rails.png",  :size => "33x42"),  "http://ruby.railstutorial.org/" %>
	</div>	
</div>


