<p>Qui ci va il form</p>
<p><%=params[:video_id]%></p>
<%= link_to "vai", commento_path(:id=>"commento", :video_id=>params[:video_id]), class:"button", :onclick=>"addParam(this)", :method=> :post,  :remote=> true %>
<%=form_for(current_user.comments.create(:user_id=>current_user.id, :video_id=>params[:video_id], :text=> :text ), remote: true) do |f|%>
<%= f.text_area :text%> 
<%= f.submit :import!%>