<!-- Navigation bar -->

<div class="top">
	<div id="infosite">
		<h1 >colorme</h1>
	</div>
	<div style="float:right;margin-top: 10px">
		<%= render 'layouts/infosite' %>
	</div>
</div>
<header class="navbar navbar-fixed-top" style="height:10px">
	<div class="navbar-inner">
		<div class="container">
			
			<nav>
				<%if signed_in? %>
				<ul class="nav pull-right">

					<li>

						<%= link_to "Esci da colorme", signout_path, method: "delete" %>

					</li>
				</ul>
				<%end%>
				<ul class="nav pull-&#x2190;">

					<% if signed_in? %>
					<li>
						<%= link_to "Pagina Principale", root_path %>
					</li>
					<li>
						<%= link_to "Gli altri iscritti", users_path(:folder_id => "0") %>
					</li>

					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Il mio Profilo <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<!-- <li><%= link_to "Il mio profilo sul sito", current_user %></li> -->
							<!-- <li class="divider"></li> -->
							<% if current_user.admin? %>
							<li>
								<%= link_to "Crea una cartella", newfolder_path %>
							</li>
							<li>
								<%= link_to "Le cartelle che hai creato","#" %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Aggiungi video ad una cartella", newvideo_path %>
							</li>							
							<% end%>
							<li>
								<%= link_to "I miei dati", user_path(current_user) %>
							</li>
							<li>
								<%= link_to "Aggiorno i miei dati", edit_user_path(current_user) %>
							</li>
							<!-- <li class="divider"></li> -->
						</ul>

					</li>
					<% if !current_user.admin?%>
					<li>
						<%= link_to "Aggiungo e rimuovo argomenti", edit_own_path(current_user)%>
					</li>
					<%end%>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
