<blockquote class="pull-right">
	<h6>
		<% if !signed_in?%>
		<%= link_to " Pagina Principale  ",   root_path %> |
		<%end%>				
		
		<%= link_to " La squadra di colorme  ",   about_path %> |
      	<a href="http://bit.ly/lingambmult">LAM 2012</a> 			
	</h6>
</blockquote>	   
  		  
