<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "alert") %>
<% end %>
<div class="span4" style="margin-bottom: 30px;>
<a href="<%= user_path(current_user) %>"><%= gravatar_for current_user, size: 52, :default=>'identicon' %></a>
<h1 style="text-align:left"><%= current_user.name %></h1>
<h4><%= current_user.email %></h4>
</div>
<%if current_page?(root_path)%>

<div class="span4">
<div class="row-fluid"><%= image_tag("up_arrow.png" )%></div>
<div class="testo_content"><p >Gestisci il tuo profilo!</p></div>

</div>
<%end%>

<!-- controllo sulla pagina -->
<% if current_page?(comments_path)%>
<div class="span4">

<span class="emozioni">
<div class="row-fluid">
<h4 >Comunica agli altri utenti il tuo stato d'animo!
</br>Sicuramente qualcuno saprà aiutarti!</h4>
</div>

<div class="row-fluid" style="padding-top: 10px; padding-bottom: 20px;">
<div class="span2">
<%= link_to ":)", { :controller => 'comments', :action => 'emotion', :emozione => "1" }, :id=>"1", :onclick=>"cambiaEmozione(this.id)",   class:"btn",:remote=> true, :rel=>"popover", :data=>{:content => 'questa emoticon ti permette di dire agli altri utenti che sei felice di quello che stai imparando!', :title=>"Felice"} %>
<span class="example" style="display: none"> PROVA PROVA</span>
</div>
<div class="span2">
<%= link_to ":(", { :controller => 'comments', :action => 'emotion', :emozione=> "2" },:id=>"2", :onclick=>"cambiaEmozione(this.id)", class:"btn",:remote=> true, :rel=>"popover", :data=>{:content => 'questa emoticon ti permette di dire agli altri utenti che sei triste! Magari qualcuno potrà darti una mano!', :title=>"Triste"} %>
</div>
<div class="span2">
<%= link_to ":@", { :controller => 'comments', :action => 'emotion',  :emozione => "3" }, :id=>"3",:onclick=>"cambiaEmozione(this.id)", class:"btn",:remote=> true, :rel=>"popover", :data=>{:content => 'questa emoticon ti permette di dire aglia altri utenti che sei arrabbiato. Non stai capendo qualcosa? Magari qualcuno può aiutarti subito!', :title=>"Arrabbiato"} %>
</div>
<div class="span2">
<%= link_to "-.-", { :controller => 'comments', :action => 'emotion',  :emozione => "4" }, :id=>"4",:onclick=>"cambiaEmozione(this.id)", class:"btn",:remote=> true, :rel=>"popover", :data=>{:content => 'questa emoticon ti permette facilmente di dire agli altri che sei annoiato. Magari qualcuno ha qualche video interessante da farti vedere!', :title=>"Annoiato"} %>
</div>
<div class="span4"><h5 id="emoz" style="display: none;"></h5></div>

</div>

</span>

</div>
<%end%> 