<div class="well sidebar-nav"> 		
  <ul class="nav nav-list">
  		
  		
  	<li class="nav-header">Gli altri utenti che imparano con te</li>
  	<%=  Own.find_each do |own|%>
  		<% if own.folder_id == @b.to_i %>
  			<%= User.find_each do |user| %>
  				<% if own.user_id == user.id && own.user_id != current_user.id %> 
  				<%= link_to user_path(user.id) do %>
  				<div class="row" style=" box-shadow: 10px 10px 5px #888; margin-top: 20px;  border-radius:10px;" >
  					<div class="span3">
  						<p><%=user.name%></p>
  						</div>
  						<div class="span3">
  						<%if own.state == 1 %>
  							<%= image_tag("logo_computer_red.png", :size => "80x80" )%>
  						<%end%>
  						<%if own.state == 3 %>
  							<%= image_tag("logo_computer_verde.png", :size => "80x80")%>
  						<%end%>
  						<%if own.state == 2 %>
  							<%= image_tag("logo_computer_giallo.png", :size => "80x80")%>
  						<%end%>  
  						
  						</div>
  						<div class="span3">
  						<div id="emozione">
  							<% if user.emotion == 1%>
  							<p>Allegro</p>
  							<%end%>
  							<% if user.emotion == 2%>
  							<p>Triste</p>
  							<%end%>
  							<% if user.emotion == 3%>
  							<p>Arrabbiato</p>
  							<%end%>
  							<% if user.emotion == 4%>
  							<p>Annoiato</p>
  							<%end%>
  						</div>	
  						</div>
  				</div> 					
  					<%end%>
  					
  					
  				<%end%>
  			<%end%>
  			
  			<%end%>
  	<%end%>
	  
	  
  </ul>
</div><!--/.well -->
