<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title><!-- Si richiama il metodo full_title presente nell'helper -->
  
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag  "rails.validations" %>  
 
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
</head>
<body onload="showContent()" style="background-color: #fcedd6;">

			
		<%= render 'layouts/header' %>
		<!-- Main content -->
		
		<div class="container-fluid" style="margin-top: 33px; margin-bottom:0px;background-color: #fcedd6;">			
			<script type="text/javascript">
				document.write('<div id="loading"><h1>Attendere Prego... </h1><div><h1><%=image_tag src="ajax-loader1.gif"%></h1></div></div>');
			</script>			
			<div class="row-fluid" style="margin-top: 20px;">				
				<div class="span12">					
					<div id="content">
						<script type="text/javascript">
							//hide content							
							document.getElementById("content").style.display = 'none';							
						</script>			
						<%= yield %>	
					</div>
				</div>
			</div>
		</div>

        <%= render 'layouts/footer' %>
       


</body>
</html>
